@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
	background: #F5F1EE;
	font-family: 'Roboto', sans-serif;
}
.card{
	width: 250px;
	border-radius: 10px;
}

.card-img-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
span.text-muted{
	font-size: 12px;
}
small.text-muted{
	font-size: 8px;
}
h5.mb-0{
	font-size: 1rem;
}
small.ghj{
	font-size: 9px;
}
.mid{
	background: #ffeac3;
}
h6.ml-1{
	font-size: 13px;
}
small.key{
	text-decoration: underline;
	font-size: 9px;
	cursor: pointer;
}
.btn-danger{
	color: #FFCBD2;
}
.btn-danger:focus{
	box-shadow: none;
}
small.justify-content-center{
	font-size: 9px;
	cursor: pointer;
	text-decoration: underline;
}


 #product{
    margin: -1rem;
}
body {
    font-family: "Open Sans", sans-serif;
}
h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}
h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #fa851e;
    left: 0;
    right: 0;
    bottom: -20px;
}
 .carousel {
    padding: 0 70px;
} 

.carousel .thumb-wrapper {
    background: #f8f6f4;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
    height: 150px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.carousel .item img {	
    max-width: 100%;
    max-height: 100%;
    display: inline-block;

}
.carousel .item h4 {
    font-size: 18px;
}

.btn-vie-details {
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fa851e;
    border: 1px solid #fa851e;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.btn-vie-details:hover, .carousel .thumb-content .btn:focus {
    color: #fff;
    background: #ff9334;
    opacity: 0.8;
    box-shadow: none;
}
.carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

/* .carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
} */
 .wish-icon  {
    color: #ff6161;
    position: absolute;
}
/* .star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #ffc000;
} */

.thumb-wrapper{
    margin: 2rem;
}

.trending-content-Container{
    display: flex;
    flex-wrap: nowraps;
    justify-content: center;
    height: 20rem;
    border-top: 10px #fa851e solid;
}


.slides {
    transition: 2s;
    height: 32rem;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior:smooth;
    -webkit-overflow-scrolling: touch;
    background-color: #1b1e20;
    
  }
  .slides::-webkit-scrollbar {
    display: none;
  }

  .img-box {
    height: 150px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}



@media only screen and (max-width: 950px) {
    #product {
      margin: 0;
    }
  }

  @media (max-width: 500px) {
    .thumb-wrapper{
        width: 100%;
    }
    .carousel {
        padding: 0 0;
    } 
  } 