body{
padding: 0;
padding-right: 0;

}
.productType{
    /* border: 1px rgb(254, 254, 254) solid; */
    height: 22rem;
    width: 15rem;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 1rem;
    box-shadow: 5px 5px 12px rgba(248, 194, 76, 0.221);
    background-color: white;

}
.productType img{
    height: 20rem;
    width: 14rem;
    margin: 1rem;
    border-radius: 1rem;
}
.productType:hover{
    background-color: #fa851e;
    transition: 0.1s;
    transform: scale(1.1);

}

.productTypeContainer{
    display: flex;
    justify-content: center;
    height: 20rem;
    padding: 3rem;
}

   .slides {
    transition: 2s;
    height: 32rem;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior:smooth;
    -webkit-overflow-scrolling: touch;
    background-color: #1b1e20;
  }
  .slides::-webkit-scrollbar {
    display: none;
  }
  .btn-get-started-header{
    font-family: "Raleway", sans-serif;
font-weight: 500;
font-size: 15px;
letter-spacing: 1px;
display: inline-block;
padding: 10px 35px;
border-radius: 50px;
text-align: center;
background-color: #fa851e;
color: #fafafa;
height: 3rem;
text-decoration: none;
  }
   .btn-get-started-header:hover{
    background-color: #e38e44;

  }
  .btn-get-started{
    font-family: "Raleway", sans-serif;
font-weight: 500;
font-size: 15px;
letter-spacing: 1px;
display: inline-block;
padding: 10px 35px;
border-radius: 50px;
margin-left: 5rem;
transition: 0.5s;
margin-top: 30px;
text-align: center;

border: 2px solid #fff;
color: #fa851e;
text-decoration: none;
    animation: animate-img infinite 1s;
    animation-direction: alternate;
  }

  @keyframes animate-img {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.2);


    }
  }
  .hero-section{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    background-image: url(../Images/1.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: #1b1e20;
    height: 100vh;
    padding-top: 10rem;
    padding-left: 3rem;
  }



  .hero-section h1{
    /* margin-top: 8rem;

    margin-left: 4rem; */
    margin-bottom: 2rem;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  color: #fa851e;
  text-align: center;
  font-family: Segoe Print,Verdana, Arial, Helvetica, sans-serif;
  }
  .hero-section h3{
    /* margin-left: 4rem; */
  font-size: 25px;
  font-weight: 400;
  color: white;
  font-family: Segoe Print,Arial, Helvetica, sans-serif;

  }


.btn-get-started:hover{
  transition: 0.5s;
background-color: #fa851e;
border-color: #fa851e;
color: #ffffff;
}

.btn-watch-details {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 3rem;
  background-color: #fa851e;
  border: 2px solid #fa851e;
  color: #ffffff;
  text-decoration: none;
  }

  .herotextContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10rem;
    padding-left: 5rem;
    width: 50%;
  }
  .subHeroContainer{
    margin-right: 5rem;
  }
  .subHeroContainer img{
    animation: hero-img infinite 1s;
    animation-direction: alternate;
  }
  @keyframes hero-img {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.01);


    }
  }

  .circule-div{
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    background-color: #fa851e;
    animation: info-img infinite 1s;
    animation-direction: alternate;
  }
  @keyframes info-img {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(0.9);
    }
  }


  .circule-div img{
    width: 4rem;
    height: 4rem;
  }
  .info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .info-container p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #1b1e20d6;
  }
  .info-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .count{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #fa851e;
  }

  .seal-now-section{
    background-image: url(../Images/3.png);
    background-size: cover;
  }

.sealNow{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;

}
.sealNow div{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10rem;

}
.sealNow div p{
  font-size: 35px;

font-weight: 500;
color: #1b1e20d6;
font-family:Arial, Helvetica, sans-serif;
}


.sealNow img{
  width: 50%;
  min-width: 35rem;
  margin-top: 12rem;
}
.btn-auction-now{
  background-color: #1b1e20;
  color: #fa851e;
  margin-bottom: 6rem;
  
}
.btn-auction-now:hover{
  background-color: #312e2c;
  color: #ffffff;
  border: 2px white solid;
  margin-bottom: 6rem;
  text-decoration: none;
}

.about{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;

}

.about div{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  

}
.about div p{
  text-align: center;
  font-size: 30px;
font-weight: 400;
color: #292826a0;
font-family:Arial, Helvetica, sans-serif;
}


.about img{
  width: 35rem;
  height: 35rem;
  margin-top: 13rem;
  margin-left: 5rem;
  border-radius: 20rem;
  margin-bottom: 10rem;
}




  @media (max-width:500px){

    .sealNow{
      margin-top: 1rem;
      margin-left: 2rem;
      margin-right: 2rem;
    
    }
.sealNow div {
  margin-top: 5rem;
 
}
 

    .sealNow div p{
      font-size: 25px;
      display: flex;
      justify-content: center space-between;
      text-align: center;
      
    }
    .sealNow div a{
width: 80%;
    }

    
    .sealNow img{
display: none;
    }

    .h2LineUnder{
      font-size: x-large;
    }

    .hero-button{
      display: flex;
      justify-content:center;
      align-content: center;
      align-items: center;
      flex-direction: column;
    }
    .btn-watch-details{
      margin-left: 0;
      width: 12rem;
      margin-right: 0;
    }
    .btn-get-started{
      margin-left: 0;
      width: 12rem;
      margin-right: 0;
    }
  }

  @media (max-width:1500px){
    /* .subHeroContainer
    {
      display: none;
    } */

    .productType{
      /* border: 1px rgb(254, 254, 254) solid; */
      height: 18rem;
      width: 11rem;
  }
  .productType img{
      height: 16rem;
      width: 10rem;
  }

    .sealNow div{
      width: 100%;
      font-size: 30px;
      align-items: center;
    }
    .sealNow div p{
text-align: center;
    }
    
    .sealNow img{
      width: 100%;
      min-width: none;
    }


    .herotextContainer{
      width: 60%;
      padding-left: 0;
      margin-top: 0;
    }

    .about{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-top: 0;
      text-align: center;
    
    }
    .about div{
      width: 90%;
      margin: 0;
    }
    
    .about img{
display: none;
    }

  }

  @media (max-width:1000px){

    .sealNow{
      display: flex;
      flex-wrap: wrap;
      margin: 2rem;
      margin-top: 4rem;
      justify-content: center;
      align-items: center;
    }
        .hero-section{
      background-image: url(../Images/2.png);
    }
    .herotextContainer{
      display: flex;
      justify-content: center;
    }
    .hero-button{
      display: flex;
      justify-content: center;
    }
    .hero-section h3{
      text-align: center;
    }
    .btn-get-started{
      margin-left: 0;
    }

    .herotextContainer h1{
      margin-top:0;
      padding: 0;
    }
    .hero-section{
      margin-top:0;
      padding: 0;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .herotextContainer{
      width: 100%;

    }
    .info-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 3rem;
    }
  }

  @media (max-width:800px){

   


    .hero-section h1{
      font-size: 50px;
    }


  }

