footer{
    background-color: #212529;
    /* width:100vw */
}
/* section a{
    box-shadow: 1px 5px 5px rgba(255, 166, 0, 0.121);
} */
/* footer section  :hover{
    transform: scale(1.2);
    transition: 0.4s;
} */

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}


.form-control:focus {
  background: #fff3e3;
  border:#ca8537
}

footer {
  background: #212529;
}
